$spruce: #1D5521;
$ivory: #FDF2E1;
$sunset: #F96969;
$sunny: #FFBF2F;
$moss: #6DA53C;
$sky: #74C9C2;
$turmeric: #B27E2B;
$turquoise: #03A9A1;
$amaranth: #98134C;
$fall: #B44225;
$cardamom: #C3D954;
$saffron: #EA8E15;
$gray-mid: #516e80;
$gray-light: #f5f6fa;
$pink: #fc647c;
$green: #61b160;
$black: #010e24;
$orange: #f2b82a;
$blue: #3ec1cb;
$red: #ff5d5d;


