.feed-fullbleed-header {
    &__wrapper {
      position: relative;
    }
  
    &__bg-wrapper {
      overflow: hidden;
    }
  
    &__bg {
      width: 100%;
      object-fit: cover;
    }
  
    &__content {
      position: absolute;
      bottom: 20px;
      width: 100%;
      color: #fff;
      text-align: center;
    }
  
    &__layout {
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 20px;
    }
  
    &__title {
      font-size: 2rem;
      font-weight: bold;
    }
  
    &__cta {
      text-decoration: none;
      color: #ffffff;
      
      &:hover .header__cta-text {
        text-decoration: underline;
      }
    }
  
    &__cta-text {
      font-size: 1.2rem;
      font-weight: 700;
    }
  }