@use '../../styles/partials/variables' as *;
@use '../../styles/partials/global' as *;

.header__wrapper {
    background-color:#16482a;
}

.header__top {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
