@use '../../styles/partials/variables' as *;
@use '../../styles/partials/global' as *;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__title {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.header__title--date {
    border: 1px solid $green;
    border-radius: 1rem;
    padding: 0.25rem;
    margin: 0.25rem;
    width: 100%;
    text-align: center;
}

.header__title--title{
    border: 1px solid $green;
    border-radius: 1rem;
    padding: 0.25rem;
    margin: 0.25rem;
    width: 100%;
    text-align: center;
}
