@use '../../styles/partials/variables' as *;
@use '../../styles/partials/global' as *;

html {
    background-color: $spruce;
    margin: 0;
    overflow-x: hidden;
}

h3 {
    color: $sunny;
    letter-spacing: 0.1rem;
}

h4 {
    color: $sunny;
    font-weight: 300;
    letter-spacing: 0.1rem;
}

.wrapper {
    margin: 2rem;
}

.arrow {
    width: 0.5rem;
    height: 0.5rem;
}

.list {
    width: 90%;
}



.list__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list__items {
    border: none;
}

.list__item {
    padding-bottom: 1rem;
    border-bottom: 2px solid $moss;
}

.list__item--last {
    border: none;
}

.button {
    background-color: $cardamom; 
    border: none;
    border-radius: 2rem;
    width: 20%;

    &__text {
        color: $spruce;
        font-weight: 1000;
    }
}




