@use '../../styles/partials/variables' as *;
@use '../../styles/partials/global' as *;

.form {
    width: 70%;
    background-color: purple;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: auto;
    padding: 1rem 6rem;
    justify-content: center;

    &__input {
        width: 100%;
        margin-bottom: 0.5rem;
        height: 1.2rem;
        border-radius: 4px;
        border: none;
        padding: 0.5rem;

        &--dropdown {
            width: 100%;
        }
    }

    &__label {
        width: 100%;
        margin-bottom: 0.25rem;
    }
}
